.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  }
 
  .headingCell{
      height: 3rem;
      vertical-align: middle;
      font-weight: bolder;
      font-size: larger;
  }
 
  .cr-container{
      width: 100%;
      margin: auto ;
      display: flex;
      flex: 1;
      flex-direction: column ;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: darkcyan;
      
  }


  